<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load crispy_forms_tags %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/task_management.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}" >
        <title>{% block title %}Dashboard{% endblock %} | Company</title>
    </head>
    <body>
        <div class="wrapper">

            <!-- sidebar -->
            <aside id="sidebar" class="js-sidebar shadow">
                
                <div class="h-100">

                    <ul class="sidebar-nav">

                        <h6 class='text-center mt-3 pt-3'>{{user.employee_id.title}}</h6>
                        <hr class='col-8 text-center mx-auto'>

                        {% block sidebar %}

                        <li class="sidebar-item">
                            <a href="/dashboard" class="sidebar-link active" style='color: black;'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-columns-gap mx-3" viewBox="0 0 16 16">
                                    <path d="M6 1v3H1V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm14 12v3h-5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM6 8v7H1V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zm14-6v7h-5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"/>
                                </svg>
                                HRMS
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/muster" class="sidebar-link" style='color: black;'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-stopwatch mx-3" viewBox="0 0 16 16">
                                    <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5z"/>
                                    <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.012-.013.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5M8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3"/>
                                </svg>
                             In-Out
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/salary_details" class="sidebar-link" style="color: black;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-bank mx-3" viewBox="0 0 16 16">
                                    <path d="m8 0 6.61 3h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.38l.5 2a.498.498 0 0 1-.485.62H.5a.498.498 0 0 1-.485-.62l.5-2A.5.5 0 0 1 1 13V6H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 3h.89zM3.777 3h8.447L8 1zM2 6v7h1V6zm2 0v7h2.5V6zm3.5 0v7h1V6zm2 0v7H12V6zM13 6v7h1V6zm2-1V4H1v1zm-.39 9H1.39l-.25 1h13.72z"/>
                                </svg>
                                 Financial Summary
                            </a>
                        </li>

                       
                        <hr class='col-8 text-center mx-auto'>

                        {% if request.user.is_authenticated and request.user.role == 'HR' or request.user.role == 'Manager' or request.user.is_superuser %}
                        <li class="sidebar-item">
                            <a href="/employee_requests" class="sidebar-link" style='color: black;'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-clipboard-data mx-3" viewBox="0 0 16 16">
                                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0z"/>
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                                  </svg>
                                Staff Profiles
                            </a>
                        </li>

                        {% endif %}
                

                        {% endblock %}

                    </ul>

                </div>

            </aside>

            <div class="main">

                <!-- Navbar -->
                <nav class="navbar navbar-expand px-3 p-2 shadow">

                    <!-- Toggle -->
                    <button class="btn" id="sidebar-toggle" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Search bar -->
                    <form class="d-flex mx-auto text-center ss" role="search" method="GET" action="{% url 'search_results' %}">
                        <svg type="submit" xmlns="http://www.w3.org/2000/svg" width="18" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                        <input id="m" class="form-control form-control-sm px-5 se" type="search" name="query" placeholder="Search for a page" aria-label="Search">
                    </form>

                    <!-- Chatbot -->
                  
                    <div class="chat-window hidden" id="chatWindow">
                        <div class="chat-header">
                            <h3>Support Chat</h3>
                            <span class="cross" id="closeChat">✕</span>
                        </div>
                
                        <div class="messages-container" id="messagesContainer">
                            <div class="message bot-message">
                                <p>Hello! How can I help you?</p>
                            </div>
                        </div>
                
                        <div class="input-container">
                            <div class="input-wrapper">
                                <input type="text" placeholder="Type your message..." class="chat-input" id="chatInput">
                                <button class="send-button" id="sendButton">
                                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M22 2L11 13M22 2L15 22L11 13M22 2L2 9L11 13"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="navbar-collapse navbar">

                        <!-- Clock timer -->
                        <div class="nav-item text-center mx-auto d-none d-md-block" style='color: black;'>
                            <span id="liveClock"></span>
                        </div>
                        
                        <ul class="navbar-nav">

                            <div class="d-flex gap-4">

                                <!-- ? FAQ -->
                                <li class="nav-item dropdown d-none d-md-block">
                                    <a href="#" data-bs-toggle="dropdown" style='color: black;'>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                                        </svg>                                    
                                    </a>
                                    <div id="ques" class="dropdown-menu dropdown-menu-end pb-4" style="width: 402px;">
                                        <div class='mx-auto text-center mt-1'>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-text mx-1" viewBox="0 0 16 16">
                                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                                                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8m0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
                                            </svg>
                                            Quiries
                                        </div>
                                        <hr>
                                        <div class="dropdown-item">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-book mx-1" viewBox="0 0 16 16">
                                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                                            </svg> 
                                            <small>FAQ(Frequently Asked Questions) - </small><a href='/faq'><small>Know more</small></a>
                                        </div>
                                        <hr>
                                        <div class="dropdown-item">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-paper mx-1" viewBox="0 0 16 16">
                                                <path d="M4 0a2 2 0 0 0-2 2v1.133l-.941.502A2 2 0 0 0 0 5.4V14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5.4a2 2 0 0 0-1.059-1.765L14 3.133V2a2 2 0 0 0-2-2zm10 4.267.47.25A1 1 0 0 1 15 5.4v.817l-1 .6zm-1 3.15-3.75 2.25L8 8.917l-1.25.75L3 7.417V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1zm-11-.6-1-.6V5.4a1 1 0 0 1 .53-.882L2 4.267zm13 .566v5.734l-4.778-2.867zm-.035 6.88A1 1 0 0 1 14 15H2a1 1 0 0 1-.965-.738L8 10.083zM1 13.116V7.383l4.778 2.867L1 13.117Z"/>
                                            </svg>
                                            <small>Any other issue/quries - </small><a href='/contact_us'><small>contact us</small></a>
                                        </div>
                                    </div>
                                </li>

                                <!-- Notifications bar -->
                                <li class="nav-item dropdown">

                                    <a href="#" class="d-flex notification notification-bar align-items-center text-black text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                                        </svg>
                                        <span id="notification-count"></span>
                                    </a>

                                    <ul id="noti" class="dropdown-menu dropdown-menu-end text-small shadow">

                                        {% if request.user.is_authenticated and request.user.role == 'Employee' %}
                                            
                                            <div class='py-2 px-2' style="width: 330px;">

                                                <div class='text-center'>Notifications</div>

                                                {% if notifications %}
                                                    {% for notification in notifications %}
                                                        <hr class='col-12'>
                                                        <div style="margin-left:10px;">
                                                            <small>{{ notification.message }}</small>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}

                                            </div>

                                        {% endif %}

                                        {% if request.user.is_authenticated and request.user.role == 'HR' or request.user.role == 'Manager' or request.user.is_superuser %}

                                            <div id="notif" >

                                                <div class='text-center'>Pending Approvals</div>

                                                    {% if pending_musters %}
                                                        {% for muster in pending_musters %}
                                                            <hr class='col-12'>
                                                            <div class="notification" style="margin-left:30px;">
                                                                <small>
                                                                {{ muster.user.employee_id }} has been requested for 'Muster'
                                                                <br>
                                                                Reason : {{muster.reason}}
                                                                <br>
                                                                Notes : {{muster.notes}}
                                                                <br>
                                                                Requested Date : {{ muster.date|date:"F d Y" }}
                                                                <br>
                                                                ↳
                                                                </small>
                                                                
                                                                <a href="{% url 'review_muster_notifications' muster.id 'approve' %}" class="approve btn btn-sm"><small>Approve</small></a> 
                                                                
                                                                <a href="{% url 'review_muster_notifications' muster.id 'reject' %}" class="reject btn btn-sm"><small>Reject</small></a>
                                                              
                                                            </div>
                                                            <hr class='col-12'>
                                                        {% endfor %}
                                                    {% endif %}
                                                    
                                                    {% if pending_leave_request %}
                                                        {% for leaves in pending_leave_request %}
                                                        <hr class='col-12'>
                                                            <div class="notification" style="margin-left:30px;">
                                                                <small>
                                                                {{ leaves.employee.employee_id }} has been requested for 'Leave Request'
                                                                <br>
                                                                Reason type : {{leaves.leave_type}}
                                                                <br>
                                                                Start date : {{leaves.start_date|date:"F d Y"}}
                                                                <br>
                                                                End date : {{leaves.end_date|date:"F d Y"}}
                                                                <br>
                                                                Reason : {{ leaves.reason }}
                                                                <br>
                                                                Requested dates : {{ leaves.days_requested }}
                                                                <br>
                                                                ↳
                                                                </small>
                                                                <a href="{% url 'review_leaves_notifications' leaves.id 'approve' %}" class="approve btn btn-sm">Approve</a> 
                                                                <a href="{% url 'review_leaves_notifications' leaves.id 'reject' %}" class="reject btn btn-sm">Reject</a>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}

                                                    {% if pending_expense %}
                                                        {% for expense in pending_expense %}
                                                        <hr class='col-12'>
                                                            <div class="notification" style="margin-left:30px;">
                                                                <small>
                                                                {{ expense.employee.employee_id }} has been requested for 'Expense claims'
                                                                <br>
                                                                Bill no : {{expense.bill_no}}
                                                                <br>
                                                                    Amount : {{expense.amount}}
                                                                <br>
                                                                Requested Date : {{ expense.date|date:"F d Y" }}
                                                                </small>
                                                                <a href="{% url 'review_expense_notifications' expense.id 'approve' %}" class="approve btn btn-sm">Approve</a> | 
                                                                <a href="{% url 'review_expense_notifications' expense.id 'reject' %}" class="reject btn btn-sm">Reject</a>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}

                                                    {% if pending_loan %}
                                                        {% for loan in pending_loan %}
                                                        <hr class='col-12'>
                                                            <div class="notification" style="margin-left:30px;">
                                                                <small>
                                                                {{ loan.employee.employee_id }} has been requested for 'Loan request'
                                                                <br>
                                                                Loan type : {{loan.loan_type}} - Amount : Rs.{{loan.loan_amount}}
                                                                <br>
                                                                Repayment : {{loan.repayment_duration}} months, interest rate - {{loan.interest_rate}}% PA
                                                                <br>
                                                                Requested Date : {{ loan.date|date:"F d Y" }}
                                                                </small>
                                                                <a href="{% url 'review_loan_notifications' loan.id 'approve' %}" class="approve btn btn-sm">Approve</a> | 
                                                                <a href="{% url 'review_loan_notifications' loan.id 'reject' %}" class="reject btn btn-sm">Reject</a>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                            </div>
                                            
                                        {% endif %}

                                    </ul>

                                </li> 

                                <!-- Profile section -->
                                <li id="profileDropdownItem" class="nav-item dropdown">
                                    <a href="#" data-bs-toggle="dropdown" id="profileDropdownButton" style='color: black;'>
                                        <img width="28" height="28" 
                                             src="{% if employee.profile_picture %}{{ employee.profile_picture.url }}{% else %}{% static 'person-circle.svg' %}{% endif %}" 
                                             alt="Profile Picture" 
                                             id="profileImage" 
                                             class="profile-icon" 
                                             loading="lazy">
                                    </a>
                                    <div id="profileDropdownMenu" class="dropdown-menu dropdown-menu-light dropdown-menu-end text-center" style="width: 250px;">
                                        <a href="/profile" id="profileGreeting" class="dropdown-item">
                                            <i class="fas fa-user-circle me-2"></i>
                                            Hello, {{user.employee_id.title}}
                                        </a>
                                        <hr id="divider1" class="dropdown-divider">
                                        <a href="/profile" id="profileLink" class="dropdown-item">
                                            <i class="fas fa-user-cog me-2"></i>
                                            Profile
                                        </a>
                                        <hr id="divider2" class="dropdown-divider">
                                        <form method="POST" action="{% url 'logout' %}" class="dropdown-item">
                                            {% csrf_token %}
                                            <i class="fas fa-sign-out-alt me-2"></i>
                                            <button class="btn" type="submit">Logout</button>
                                        </form>
                                        </a>
                                    </div>
                                </li>   

                            </div>

                        </ul>

                    </div>

                </nav>

                <!-- Main content -->
                <main class="container-fluid">

                    {% block content %}
                    {% endblock %}
                    
                </main>

            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>

        <!----  Clock-in / Clock-out ---->
        {% comment %} <script>
    function getLocationAndSubmitClockIn() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                document.getElementById('latitude').value = position.coords.latitude;
                document.getElementById('longitude').value = position.coords.longitude;
                document.getElementById('clock-in-form').submit();
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function getLocationAndSubmitClockOut() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                document.getElementById('clock-out-latitude').value = position.coords.latitude;
                document.getElementById('clock-out-longitude').value = position.coords.longitude;
                document.getElementById('clock-out-form').submit();
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    const clockInTime = "{{ user.timeentry_set.first.clock_in_time|default:'' }}".trim();
    const clockOutButton = document.getElementById('clock-out-button');
    if (clockInTime) {
        const clockInDate = new Date(clockInTime);
        const currentTime = new Date();
        const timeDifference = (currentTime - clockInDate) / (1000 * 60 * 60);
        if (timeDifference < 9) {
            clockOutButton.disabled = true;
        }
    }

    </script> {% endcomment %}

    <script>

        function getLocationAndSubmitClockIn() {

        if (navigator.geolocation) {
            
            navigator.geolocation.getCurrentPosition(function(position) {

                const latitudeField = document.getElementById('latitude');

                const longitudeField = document.getElementById('longitude');

                const form = document.getElementById('clock-in-form');
         
                if (latitudeField && longitudeField && form) {

                    latitudeField.value = position.coords.latitude;

                    longitudeField.value = position.coords.longitude;

                    form.submit();

                } else {

                    console.error("Clock-in form or fields not found!");

                }

            });

        } else {

            alert("Geolocation is not supported by this browser.");

        }

    }
     
    function getLocationAndSubmitClockOut() {

        if (navigator.geolocation) {

            navigator.geolocation.getCurrentPosition(function(position) {

                const latField = document.getElementById('clock-out-latitude');

                const longField = document.getElementById('clock-out-longitude');

                const form = document.getElementById('clock-out-form');
         
                if (latField && longField && form) {

                    latField.value = position.coords.latitude;

                    longField.value = position.coords.longitude;

                    form.submit();

                } else {

                    console.error("Clock-out form or fields not found!");

                }

            });

        } else {

            alert("Geolocation is not supported by this browser.");

        }

    }    // Removed Duplicates here 
        
            if (clockOutButton && clockInTime) { 
        
                const clockInDate = new Date(clockInTime);
        
                if (!isNaN(clockInDate)) {  // Ensure it's a valid date
        
                    const currentTime = new Date();
        
                    const timeDifference = (currentTime - clockInDate) / (1000 * 60 * 60);
        
                    if (timeDifference < 9) {
        
                        clockOutButton.disabled = true;
        
                    }
        
                }
        
            }
            
        </script>


        <!----  Side-toggle ---->
        <script>
            const sidebarToggle = document.querySelector("#sidebar-toggle");
            sidebarToggle.addEventListener("click",function(){
                document.querySelector("#sidebar").classList.toggle("collapsed");
            });
        </script>

        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        
        <!----  Clock ---->
        <script>
            function updateClock() {
                var now = new Date();
                var day = now.toLocaleString('en-us', { weekday: 'long' });
                var date = now.getDate();
                var month = now.toLocaleString('en-us', { month: 'long' });
                var year = now.getFullYear();
                var hours = now.getHours();
                var minutes = now.getMinutes();
                var seconds = now.getSeconds();
                var ampm = hours >= 12 ? 'PM' : 'AM';

                hours = hours % 12;
                hours = hours ? hours : 12;
                minutes = minutes < 10 ? '0' + minutes : minutes;
                seconds = seconds < 10 ? '0' + seconds : seconds;

                var timeString = date + ' - ' + month + ' - ' + year + ' , ' + day + ' , ' + hours + ' : ' + minutes + ' : ' + seconds + ' ' + ampm;
    
                document.getElementById('liveClock').textContent = timeString;
            }

            setInterval(updateClock, 1000);
            updateClock();
        </script>
        
        <!----  Notifications ---->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                let countDisplay = document.getElementById("notification-count");
            
                function updateCount() {
                    // Select only the notification items, not the container or other elements
                    let notifications = document.querySelectorAll("#noti .notification");
                    let notificationCount = notifications.length;
            
                    if (notificationCount > 0) {
                        countDisplay.textContent = notificationCount;
                        countDisplay.style.visibility = "visible";
                    } else {
                        countDisplay.textContent = "0";  // Explicitly set to 0
                        countDisplay.style.visibility = "hidden";  // Hide badge when no notifications
                    }
                }
            
                // Handle approve/reject button clicks
                document.querySelectorAll(".approve, .reject").forEach(button => {
                    button.addEventListener("click", function () {
                        let notification = this.closest(".notification");
                        notification.style.opacity = "0";
                        setTimeout(() => {
                            notification.remove();
                            updateCount();
                        }, 300);
                    });
                });
            
                // Initial count update
                updateCount();
            });
        </script>

        <!----  Profile Section ---->
        <script>
            // Open the modal when clicking the "Plus Icon" for Profile Picture
            document.querySelector('.edit-profile-icon').addEventListener('click', function () {
                document.getElementById('uploadModal').style.display = 'block';
            });
    
            // Open the modal when clicking the "Plus Icon" for Cover Picture
            document.querySelector('.edit-cover-icon').addEventListener('click', function () {
                document.getElementById('coverUploadModal').style.display = 'block';
            });
    
            // Close the modal when clicking the close (cross) button
            document.getElementById('closeModal').addEventListener('click', function () {
                document.getElementById('uploadModal').style.display = 'none';
            });
    
            document.getElementById('closeCoverModal').addEventListener('click', function () {
                document.getElementById('coverUploadModal').style.display = 'none';
            });
    
            // Handle the profile picture form submission using AJAX
            document.getElementById('profilePictureForm').addEventListener('submit', function (e) {
                e.preventDefault();

                var formData = new FormData(this);

                fetch("{% url 'edit_profile_picture' %}", {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        var newPictureUrl = data.new_picture_url;
                        document.querySelector('.profile-picture').src = newPictureUrl;
                        document.getElementById('uploadModal').style.display = 'none';
                    } else {
                        alert("Error: The profile picture could not be uploaded.");
                    }
                })
                .catch(error => {
                    console.error("Error uploading profile picture:", error);
                });
            });

    
            // Handle the cover picture form submission using AJAX
            document.getElementById('coverPictureForm').addEventListener('submit', function (e) {
                e.preventDefault();
    
                var formData = new FormData(this);
    
                fetch("{% url 'edit_cover_picture' %}", {
                    method: "POST",
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        var newCoverPictureUrl = data.new_cover_picture_url;
                        document.querySelector('.cover-photo img').src = newCoverPictureUrl;
                        document.getElementById('coverUploadModal').style.display = 'none';
                    } else {
                        alert("Error: The cover picture could not be uploaded.");
                    }
                })
                .catch(error => {
                    console.error("Error uploading cover picture:", error);
                });
            });
    
            // Function to toggle sections
            function showSection(sectionId) {
                var sections = document.querySelectorAll('.info-section');
                sections.forEach(function(section) {
                    section.style.display = 'none';
                });
    
                var sectionToShow = document.getElementById(sectionId);
                if (sectionToShow) {
                    sectionToShow.style.display = 'block';
                }
            }
    
            document.addEventListener('DOMContentLoaded', function() {
                showSection('personal-info');
            });
        </script>

        <!----  Chat Bot ---->
        <script>
            const API_KEY = "AIzaSyBfsdYfzhekMwIc5VNs7dsol3Uv6-ujs_4";
            
            const chatbotContainer = document.getElementById('chatbotContainer');
            const chatIcon = document.getElementById('chatIcon');
            const chatWindow = document.getElementById('chatWindow');
            const closeChat = document.getElementById('closeChat');
            const messagesContainer = document.getElementById('messagesContainer');
            const chatInput = document.getElementById('chatInput');
            const sendButton = document.getElementById('sendButton');
    
            let isOpen = false;
    
            function toggleChat() {
                isOpen = !isOpen;
                chatWindow.classList.toggle('hidden');
                chatIcon.style.display = isOpen ? 'none' : 'block';
            }
    
            function addMessage(text, isBot) {
                const messageDiv = document.createElement('div');
                messageDiv.className = `message ${isBot ? 'bot-message' : 'user-message'}`;
                
                const paragraph = document.createElement('p');
                paragraph.textContent = text;
                
                messageDiv.appendChild(paragraph);
                messagesContainer.appendChild(messageDiv);
                
                // Scroll to bottom
                messagesContainer.scrollTop = messagesContainer.scrollHeight;
            }
    
            async function handleSend() {
                const inputText = chatInput.value.trim();
                if (!inputText) return;
    
                // Add user message
                addMessage(inputText, false);
                chatInput.value = '';
    
                try {
                    const response = await fetch(
                        `https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=${API_KEY}`,
                        {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                contents: [{
                                    parts: [{
                                        text: inputText
                                    }]
                                }]
                            })
                        }
                    );
    
                    const data = await response.json();
                    const botReply = data.candidates?.[0]?.content?.parts?.[0]?.text || "Sorry, I didn't understand that.";
                    
                    addMessage(botReply, true);
    
                } catch (error) {
                    console.error("Error fetching chatbot response:", error);
                    addMessage("Something went wrong. Try again!", true);
                }
            }
    
            // Event Listeners
            chatbotContainer.addEventListener('click', toggleChat);
            closeChat.addEventListener('click', (e) => {
                e.stopPropagation();
                toggleChat();
            });
    
            sendButton.addEventListener('click', handleSend);
            
            chatInput.addEventListener('keypress', (e) => {
                if (e.key === 'Enter') {
                    handleSend();
                }
            });
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                function handleImageUpload(imageId) {
                    const input = document.createElement("input");
                    input.type = "file";
                    input.accept = "image/*";
                    input.addEventListener("change", function () {
                        const file = this.files[0];
                        if (file) {
                            const reader = new FileReader();
                            reader.onload = function (e) {
                                const imageElement = document.getElementById(imageId);
                                if (imageElement) {
                                    
                                    imageElement.src = e.target.result;
                                    console.log(`${imageId} updated successfully.`);
        
                                    
                                    localStorage.setItem(imageId, e.target.result);
                                } else {
                                    console.error(`Element with ID ${imageId} not found.`);
                                }
                            };
                            reader.readAsDataURL(file);
                        } else {
                            console.warn("No file selected.");
                        }
                    });
                    input.click();
                }
        
                
                function loadSavedImages() {
                    const coverImage = document.getElementById("cover-image");
                    const profileImage = document.getElementById("profile-image");
        
                    if (coverImage && localStorage.getItem("cover-image")) {
                        coverImage.src = localStorage.getItem("cover-image");
                    }
                    if (profileImage && localStorage.getItem("profile-image")) {
                        profileImage.src = localStorage.getItem("profile-image");
                    }
                }
        
                
                loadSavedImages();
        
                
                const coverBtn = document.getElementById("edit-cover-btn");
                if (coverBtn) {
                    coverBtn.addEventListener("click", function () {
                        handleImageUpload("cover-image");
                    });
                } else {
                    console.error("Cover edit button not found.");
                }
        
                const profileBtn = document.getElementById("edit-profile-btn");
                if (profileBtn) {
                    profileBtn.addEventListener("click", function () {
                        handleImageUpload("profile-image");
                    });
                } else {
                    console.error("Profile edit button not found.");
                }
            });
        </script>        
    </body>
</html>