{% extends 'base.html' %}
{% load static %}

{% block title %}Salary Details{% endblock %}

{% block sidebar %}

<li class="sidebar-item">
                            <a href="/dashboard" class="sidebar-link active" style='color: black;'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-columns-gap mx-3" viewBox="0 0 16 16">
                                    <path d="M6 1v3H1V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm14 12v3h-5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM6 8v7H1V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zm14-6v7h-5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"/>
                                </svg>
                                HRMS
                            </a>
                        </li>
                        
<link rel="stylesheet" href="{% static 'css/salary_details.css' %}"> 
<li class="sidebar-item">
    <a href="/salary_details" class="sidebar-link mt-2 w3-bar-item w3-button tablink" style='color: black;'>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-currency-rupee mx-3" viewBox="0 0 16 16">
            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
          </svg>
        Salary Details
    </a>
</li>

<li class="sidebar-item">
    <a href="/expense_claims" class="sidebar-link mt-2 w3-bar-item w3-button tablink" style='color: black;'>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-graph-up-arrow mx-3" viewBox="0 0 16 16">
            <path d="..."/>
        </svg>
        Expense Claims
    </a>
</li>

<li class="sidebar-item">
    <a href="/tax_deduction" class="sidebar-link mt-2 w3-bar-item w3-button tablink" style='color: black;'>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-currency-exchange mx-3" viewBox="0 0 16 16">
            <path d="..."/>
        </svg>
        Tax Deduction
    </a>
</li>

<li class="sidebar-item">
    <a href="/loan_requests" class="sidebar-link mt-2 w3-bar-item w3-button tablink" style='color: black;'>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-bank mx-3" viewBox="0 0 16 16">
            <path d="..."/>
        </svg>
        Loan Request
    </a>
</li>

{% endblock %}

{% block content %}

<div class="mx-auto">
    <div class="container-fluid salary-slip">
        <!-- Filter form for selecting From and To months -->
        <form id="height" method="get" class="filter-form pt-4">
            <h6>Choose months:</h6>
            <div class="form-group form-control-sm">
                <span>From</span>
                <input class="down" type="month" id="from_month" name="from_month" value="{{ from_month }}" required>

                <span>To</span>
                <input class="down" type="month" id="to_month" name="to_month" value="{{ to_month }}" required>
            </div>
            <div class="row">
                <div class="fd form-group">
                    <button type="submit" class="buttn" style="margin-top:14px;">Search</button>
                </div>
                <div class="payslip-footer">
                    <a href="{% url 'generate_payslip_pdf' employee_id=employee.id %}?from_month={{ from_month }}&to_month={{ to_month }}" class="download-btn no-print buttn">Download Payslip</a>
                </div>
            </div>
        </form>

        {% for payslip in payslips %}
        <div class="payslip-section {% if forloop.counter > 1 %}page-break{% endif %} mt-2">
            <div class="row">
                <div class="header text-center">
                    <h1 class="new-head">Company</h1>
                </div>
            </div>

            <h5 class="payslip-month-title py-2">Payslip for the Month {{ payslip.month|date:"F Y" }}</h5>

            <table class="tbl py-0">
                <tr><th colspan="2">Employee Name: {{ payslip.employee.name }}</th><th colspan="3">Employee ID: {{ payslip.employee.employee_id }}</th></tr>
                <tr><th colspan="2">Designation: {{ payslip.employee.designation }}</th><th colspan="3">Current MTH cal days: {{ payslip.current_month_calculated_days }}</th></tr>
                <tr><th colspan="2">Bank account: {{ payslip.employee.bank_name }}</th><th colspan="3">Current MTH paid days: {{ payslip.current_month_paid_days }}</th></tr>
                <tr><th colspan="2">Bank account no.: {{ payslip.employee.bank_account_number }}</th><th colspan="3">PF NO.: {{ payslip.employee.pf_number }}</th></tr>
                <tr><th colspan="2">PAN NO.: {{ payslip.employee.pan_number }}</th><th colspan="3">UAN NO.: {{ payslip.employee.uan_number }}</th></tr>

                <tr><th colspan="2">Component</th><th colspan="3" style="text-align:right;padding-right:30px">Monthly (INR)</th></tr>
                <tr><td colspan="2">Basic Salary</td><td colspan="3" style="text-align:right;padding-right:30px">{{ payslip.basic_salary }}</td></tr>
                <tr><td colspan="2">House Rent Allowance (HRA)</td><td colspan="3" style="text-align:right;padding-right:30px">{{ payslip.house_rent_allowance }}</td></tr>
                <tr><td colspan="2">Special Allowance</td><td colspan="3" style="text-align:right;padding-right:30px">{{ payslip.special_allowance }}</td></tr>
                <tr><td colspan="2">Conveyance Allowance</td><td colspan="3" style="text-align:right;padding-right:30px">{{ payslip.conveyance_allowance }}</td></tr>
                <tr><th colspan="2">Total Fixed Salary</th><th colspan="3" style="text-align:right;padding-right:30px">{{ payslip.total_fixed_salary }}</th></tr>

                <tr><th colspan="5">Deductions</th></tr>
                <tr><td colspan="2">Provident Fund (PF)</td><td colspan="3" style="text-align:right;padding-right:30px">{{ payslip.pf_contribution }}</td></tr>
                <tr><td colspan="2">Professional Tax</td><td colspan="3" style="text-align:right;padding-right:30px">{{ payslip.professional_tax }}</td></tr>
                <tr><td colspan="2">Income Tax (TDS)</td><td colspan="3" style="text-align:right;padding-right:30px">{{ payslip.income_tax }}</td></tr>
                <tr><td colspan="2">Medical Insurance</td><td colspan="3" style="text-align:right;padding-right:30px">{{ payslip.medical_insurance }}</td></tr>
                <tr><td colspan="2">Stationery & Misc</td><td colspan="3" style="text-align:right;padding-right:30px">{{ payslip.stationery_misc }}</td></tr>
                <tr><th colspan="2">Total Deductions</th><th colspan="3" style="text-align:right;padding-right:30px">{{ payslip.deductions }}</th></tr>

                <tr><th colspan="5">Variable Pay</th></tr>
                <tr><td colspan="2">Performance Bonus</td><td colspan="3" style="text-align:right;padding-right:30px">{{ payslip.performance_bonus }}</td></tr>
                <tr><td colspan="2">Other Incentives</td><td colspan="3" style="text-align:right;padding-right:30px">{{ payslip.other_incentives }}</td></tr>
                <tr><th colspan="2">Total Variable Pay</th><th colspan="3" style="text-align:right;padding-right:30px">{{ payslip.total_variable_pay }}</th></tr>

                <tr><th colspan="2">Gross Salary</th><th colspan="3" style="text-align:right;padding-right:30px">{{ payslip.gross_salary }}</th></tr>
                <tr><th colspan="2">Net Salary (After Deduction)</th><th colspan="3" style="text-align:right;padding-right:30px">{{ payslip.actual_salary }}</th></tr>

                <tr><th>Total Earning</th><th>Total Deductions</th><th>Loan Deductions</th><th>Variable Pay Deductions</th><th>Net Salary</th></tr>
                <tr>
                    <td>{{ payslip.total_fixed_salary }}</td>
                    <td>{{ payslip.deductions }}</td>
                    <td>{{ payslip.loan_deductions }}</td>
                    <td>{{ payslip.total_variable_pay }}</td>
                    <td>{{ payslip.actual_salary }}</td>
                </tr>

                <tr>
                    <td colspan="5" style="color: blue;">
                        Salary credited to A/C no. <b>{{ payslip.employee.bank_account_number }}, Rs {{ payslip.actual_salary }}/-</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        GST (2025) is applicable on Canteen Deduction, Gym Fees, Admin Charges, Mobile Deduction,
                        Postage, Notice Period Recovery, Monetary Fund, and Bus Service Charges at applicable rates.
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        Address: India
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
